.postField::-webkit-scrollbar { 
    display: none;  
}

.git{


}
.git:hover{
    transform: scale(2);
}
.gotoTop{
    animation: upDown 5s linear 2s infinite alternate;
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

    

.gotoTop:active{
    transform: scale(0.7);
}
.gotoTopContact{
    animation: upDown1 5s linear 2s infinite alternate;
}

@keyframes upDown{
    0%{
        width:50px;
    }
50%{
        bottom: 100px;
    }

    100%{
        bottom: 130px;
    }
}


@keyframes upDown1{
    0%{
        bottom:50px;
    }
50%{
        bottom: 25px;
    }

    100%{
        bottom: 50px;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }